/*
    Project: joaomarcuslf.github.io
    Author: João Marcus de Lemos Fernandes
    Github: @joaomarcuslf
*/

/*
    Overwrite Bulma's variables
*/

$turquoise: #009688;
$primary: #79589F;
$link: #534A93;
$info: #56CDFC;
$success: #74C080;
$warning: #FA9F47;
$danger: #D64242;
$dark: #3F3F44;
$text: #7D7D8E;

/*
    Importing Bulma in the top level of the application
*/

@import '../../node_modules/bulma/bulma';

/*
    Using ITCSS Structure in imports
*/

@import
    'settings/settings',
    'tools/tools',
    'generic/generic',
    'elements/elements',
    'objects/objects',
    'components/components',
    'trumps/trumps';
